body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #858585;
    background: url('../images/background-page.jpg');
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.wrapper .form {
    height: 400px;
    width: 350px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}