body {
    margin: 0;
    padding: 0;
    background-color: #858585;
    background: url('../images/background-page.jpg');
}

.clearfix:after {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}


